<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../public/script.js" defer></script>

</head>

<body>
    <div class="outter-body black">
        <div class="inner-body">
            <nav>
                <div><a href="../" class="logo">flikr</a></div>
                <!-- <div class="search-container">
                    <input type="search" placeholder="SEARCH MOVIE">
                    <svg class="search-icon" width="22" height="22" viewBox="0 0 22 22" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="9" r="8.5" stroke="#C20000" />
                        <path d="M15 15L21 21" stroke="#C20000" />
                    </svg>
                </div> -->
                <div class="login-btn-container">
                    <% if (user) { %>
                        <a href=""><img src="" class="user-icon"></a>
                        <a href="/logout" class="sign-out"><button>Sign Out</button></a>
                    <% } else { %>
                        <a href="/auth/google" class="google-btn">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="191px" height="46px" viewBox="0 0 191 46" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>btn_google_signin_dark_disabled_web@2x</title>
                                <g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="btn_google_signin_dark_disabled_web-copy-2"
                                        transform="translate(-1.000000, -1.000000)" fill="#FFFFFF">
                                        <text id="Sign-in-with-Google" font-family="Roboto-Medium, Roboto" font-size="14"
                                            font-weight="400" letter-spacing="0.21875">
                                            <tspan x="54" y="29">Sign in with Google</tspan>
                                        </text>
                                        <path
                                            d="M24.001,25.71 L24.001,22.362 L32.425,22.362 C32.551,22.929 32.65,23.46 32.65,24.207 C32.65,29.346 29.203,33 24.01,33 C19.042,33 15.01,28.968 15.01,24 C15.01,19.032 19.042,15 24.01,15 C26.44,15 28.474,15.891 30.031,17.349 L27.475,19.833 C26.827,19.221 25.693,18.501 24.01,18.501 C21.031,18.501 18.601,20.976 18.601,24.009 C18.601,27.042 21.031,29.517 24.01,29.517 C27.457,29.517 28.726,27.132 28.96,25.719 L24.001,25.719 L24.001,25.71 Z"
                                            id="Shape-Copy"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    <% } %>
                </div>
            </nav>

            <main>
                <div class="post-container margin-bottom-16">
                    <div class="post-container-hero margin-bottom-40">
                        <div class="post-btn-wrap white-bg absolute top-right">
                            <p>204</p>
                            <a href=""><img src="/public/images/like.svg" class="like-icn"></a>
                            
                        </div>
                        <img class="movie-poster margin-bottom-16" src="/public/images/best movie of all time.jpeg">
                        <h5 class="username text-white margin-bottom-8"><%= post.username %></h5>
                        <h2><%= post.movieTitle %></h2>
                        <div class="rating-circle"><%= post.rating %></div>
                    </div>
                    <p class="post-date margin-bottom-8"><%= post.createdAt %></p>
                    <p class="post-title text-white margin-bottom-16"><%= post.postTitle %></p>
                    <p><%= post.description %></p>
                </div>
                
                    <div class="post-container margin-bottom-16">
                        <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>">
                            <textarea id="add-comment" name="comment" rows="8" placeholder="Share a comment:"></textarea>
                            <input class="form-btn absolute bottom-right" type="submit" value="Comment">
                        </form>
                    </div>
                
                <div>

                    <!-- ====== ADD COMMENT SECTION NEED HELP ======= -->

                    <% if (post.comment.length) { %>
                    <ul>
                        <% post.comment.forEach(function(c) { %>
                        <li><div class="post-container margin-bottom-16">
                            <h5 class="margin-bottom-8"><%= c.username %></h5>
                            <p><%= c.comment %></p>
                        </div></li>
                        <% }); %>
                    </ul>
                    <% } else { %>
                        <div class="post-container flex card-btn">
                            <div class="post-copy">
                                <h2>No Comments Yet</h2>
                            </div>
                        </div>
                    <% } %>

                    <!-- ====== ADD COMMENT SECTION NEED HELP ======= -->
                </div>
            </main>
        </div>
    </div>
</body>

</html>